/* footer */
*{
  margin: 0;
}

footer {
  background-color: #0dadbd;
  font-family: "Mont";
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1% 10% 1% 10%;
}

.company-footer h2{
  margin: 0 0 25px 0;
}

.company-footer{
  width: 80%;
  padding: 25px;
}

.footer-box{
  font-family: "AGaramondPro-Regular";
  width: 80%;
  padding: 0px 0px 0px 5%;
  display: flex;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.social-media{
  font-family: "Montserrat";
  width: 80%;
  padding: 0px 0px 0px 5%;
}

.social-media ul{
  display: block;
  float: left;
}

.social-media ul li{
  display: flex;
  justify-content: space-around;
}

span{
  padding: 0 15px;
}

ul{
  padding: 0;
}

li {
  list-style: none;
  font-weight: bold, 400;
  font-size: 16px;
  line-height: 20px;
  border: 0, 5px solid #fff;
}

.footer-box li{
  padding: 5%;
}

.social-media li{
  padding: 10px;
}

h2{
  font-weight: 400;
}

.newsletter{
  width: 50%;
  padding: 1%;
  float: left;
  font-family: "Montserrat";
}
