body {
margin: 0;
font-family: 'Mont';
box-sizing: border-box;
}

@font-face {
    font-family:  'Mont';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family:  'Mont';
    src: url('fonts/AGaramondPro-Regular.otf');
}

header {
    width: 1920px;
    height: 1080px;
    left: 1px;
    top: 0px;
}

img{
    height: 20px;
    color: white; 
}

.logo{
    left: 11.14%;
    right: 75.53%;
    top: 0%;
    bottom: 97.22%;
    display: inline;
    float: left;
    height: 100px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}

.texto{
    margin: 15px;
    margin-top: 100px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat';
}

.topnav a:hover {
/* background-color: #ddd; */
color: black;
}

/* .topnav a.active {
 background-color: #04AA6D; 
 color: white; 
} */

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
}
.texto{
    margin-top: -10px;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}


.bg-img {
    background-image: url("../img/singapore-skyscrapers-marina-bay-sands-evening-4k-es.jpg");
    min-height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 1920px;
}

.btn {
    text-align: center;
    background-color:#670BFF;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', 'Helvetica Neue',;
}


.btn:hover {
background-color: RoyalBlue;
}









