@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Regular.otf");
  font-family: "Mont-bold";
  src: url("../fonts/Montserrat-Bold.otf");
}
.reservas__container {
  font-family: "Mont", Arial, Helvetica, sans-serif;
  color: #14274a;
  padding: 0.3rem;
  margin: 4rem auto;
}
.reservas__container aside {
  display: none;
}
.reservas__container li {
  font-size: 0.7rem;
}
.reservas__container li::before {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #14274a;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.w100 {
  width: 100%;
}

.info-adicional {
  font-style: italic;
  font-size: 0.8rem;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-container {
  font-family: "Mont", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-hospedes,
.modal-adicionais,
.modal-resumo {
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  position: relative;
  min-width: 200px;
  max-width: 95%;
  border-radius: 4px;
}

.modal-adicionais p,
.modal-resumo p {
  font-size: 0.8rem;
}
.modal-adicionais li,
.modal-resumo li {
  font-size: 0.8rem;
}

.modal-resumo p,
.modal-resumo li {
  font-size: 0.8rem;
}

.modal-header,
.modal-adulto,
.modal-crianca {
  justify-content: space-between;
}

.modal-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-header button {
  background-color: white;
  cursor: pointer;
  border: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}

.modal-body {
  align-items: center;
  gap: 1.5rem;
}

.modal-body p:first-child {
  min-width: 80px;
}

.modal-body div {
  justify-content: space-between;
  min-width: 90px;
  gap: 1rem;
}

.modal-body button {
  background-color: #0dadbd;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
}
.modal-body button.modal-btn-limpar {
  width: fit-content;
  height: fit-content;
  font-weight: normal;
  font-size: 0.9rem;
  color: #000;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.modal-body button.modal-btn-continuar {
  width: fit-content;
  height: fit-content;
  font-size: 0.9rem;
  background-color: #670bff;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-ativo {
  display: flex;
}

.reservas__entradas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.reservas__entradas__itens, .reservas__entradas__resumo, .reservas__entradas__adicionais {
  cursor: pointer;
  padding: 0.3rem;
  border: 1px solid #2b2b2b;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.reservas__entradas__itens div, .reservas__entradas__resumo div, .reservas__entradas__adicionais div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.reservas__entradas__itens input.dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.reserva__titulo {
  font-family: "Mont-bold", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2rem 0;
}

.quarto__container {
  padding: 1rem;
  box-shadow: 1px 1px 5px 3px #eaecec;
  margin-bottom: 25px;
}

.quarto__imagem {
  width: 100%;
}
.quarto__imagem img {
  width: 100%;
}

.quarto__especificacoes {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quarto__especificacoes__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quarto__especificacoes__selecao {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-reservar {
  display: block;
  width: fit-content;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 2px;
  background-color: #0dadbd;
  color: white;
  font-weight: bold;
}
.btn-reservar:hover {
  cursor: pointer;
}

.no-mobile {
  display: none;
}

.left {
  text-align: left;
  justify-self: left;
  align-self: flex-start;
}

.right {
  text-align: right;
}

@media (min-width: 768px) {
  .reservas__entradas {
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-around;
  }
  .reservas__entradas__itens, .reservas__entradas__resumo, .reservas__entradas__adicionais {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .reservas__entradas__itens div, .reservas__entradas__resumo div, .reservas__entradas__adicionais div {
    flex-direction: column;
    gap: 2px;
  }
  .modal-adicionais p {
    font-size: 0.9rem;
  }
  .quarto__container {
    display: flex;
    flex-direction: row;
  }
  .quarto__imagem {
    max-width: 300px;
  }
  .quarto__imagem img {
    width: 100%;
  }
  .no-mobile {
    display: block;
  }
}
@media (min-width: 1025px) {
  .no-desktop {
    display: none;
  }
  .modal-adicionais p {
    font-size: 1rem;
  }
  .reservas__container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .reservas__container aside {
    display: block;
  }
  .reservas__container aside .reservas__container__resumo__holder {
    width: 300px;
    background-color: #eaecec;
    padding: 1rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .reservas__container .resumo__header,
  .reservas__container .resumo__total {
    padding: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .resumo__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .resumo_conteudo_adicionais,
  .resumo_conteudo_acomodacoes {
    display: flex;
    flex-direction: column;
  }
  .resumo_conteudo_acomodacoes__valores,
  .resumo_conteudo_adicionais__valores {
    text-align: right;
  }
  .resumo__conteudo__item,
  .resumo__total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resumo_conteudo_adicionais__wrap,
  .resumo_conteudo_acomodacoes__wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resumo_conteudo_adicionais li::before,
  .resumo_conteudo_acomodacoes li::before {
    display: none;
  }
  .btn__aside {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn__aside__limpar {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
  }
  .btn__aside__continuar {
    background-color: #670bff;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
  }
  .no-mobile {
    display: block;
  }
}
.btnOpenModal {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}

hr {
  border: 0px;
  border-top: 1px solid lightgray;
}

.modalContainer {
  width: 100vw;
  position: fixed;
  top: 30px;
  display: none;
  z-index: 999;
  justify-content: center;
}

.modalConf {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 30%;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal 0.4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
span {
  margin: 10px auto;
  color: #670bff;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btns button {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}

.btnOk {
  background-color: blue;
}

.btnClose {
  background-color: brown;
}

@media (max-width: 500px) {
  .modalConf {
    padding: 10px;
    width: 80%;
  }
  span .btns button {
    font-size: smaller;
  }
}

/*# sourceMappingURL=reservas-public.css.map */
