@mixin bgColorFace {
   background-color:  rgb(59, 89, 152);

}
@mixin bgColorLinkedin {
    background-color: rgb(0, 119, 181);
 
 }
  
 @mixin bgColorTwiter {
    background-color: rgb(0, 172, 238);
 
 }
   
    
