@font-face {
    font-family: 'Mont';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Mont-bold';
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/AGaramondPro-Bold.otf');
}

body {
    margin: 0%;
}

main {
    padding-top: 2rem;
    margin-bottom: 0.6rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Mont', 'Garamond';
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.first-view {
    background-image: url("../img/singapore-skyscrapers-marina-bay-sands-evening-4k-es.jpg");
    background-size: cover;
    width: 100%;
    height: 8rem;
    position: absolute;
    z-index: -1;
}

.first-box {
    display: flex;
    border-radius: 1rem;
    padding: 4rem;
    padding-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    flex-direction: column;
}

.p-right {
    float: right;
    text-align: justify;
    font-size: 1.3rem;
    width: 55%;
    font-family: 'Mont', 'Garamond';
    font-size: larger;
}

.img-left {
    margin-right: auto;
    width: 40%;
    border-radius: 1rem;
    position: static;
    margin-bottom: 10rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: rgba(255, 255, 255, 0.625);
    }
}

@media screen and (max-width:780px) {
    .first-box {
        padding: 0;
        background-color: white;
    }

    .img-left {
        width: 100%;
        margin-bottom: 0rem;
    }

    .p-right {
        width: 100%;
        margin-bottom: 2rem;
    }
}