@import "_global-config-home-admin.scss";

// Main
$main-display: block;
$main-direction: column;
$main-width: 100%;

// Cards Global
$cards-display: flex;
$cards-width: 100%;
$cards-justify-content: center;
$cards-padding: 20px;
$card-background-color: #ffffff;
$card-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
$card-border: 16px;
$card-margin: 0 20px;
$height: 132px;
$card-text-align: center;

// Large Card
$card-large-margin: 40px;
$card-large-width: 642px;
$card-large-height: 450px;
$card-large-padding: 30px;
$card-large-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

// Card
$card-width: 450px;
$card-height: auto;
$card-h2-padding: 15px;
$card-h2-border: 1px solid #111;
$card-p-padding: 15px;


.main {
  display: $main-display;
  flex-direction: $main-direction;
  width: $main-width;
}

.cards-header {
  display: $cards-display;
  width: $cards-width;
  justify-content: $cards-justify-content;
  padding: $cards-padding;
}

.card {
  background: $card-background-color;
  box-shadow: $card-shadow;
  border-radius: $card-border;
  margin: $card-margin;
  height: $card-height;
}

.card .card-content {
  text-align: $card-text-align;
}

.card-container {
  text-align: $card-text-align;
}

.card-large {
  margin: $card-large-margin;
  width: $card-large-width;
  height: $card-large-height;
  padding: $card-large-padding;
  background: $card-background-color;
  box-shadow: $card-large-shadow;
  border-radius: $card-border;
}

.card {
  width: $card-width;
  height: $card-height;
}

.card h2 {
  padding: $card-h2-padding;
  border-bottom: $card-h2-border;
}

.card p {
  padding: $card-p-padding;
}