@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// Main Colors Style
$primary-color: #7623FF;
$secundary-color: #fff;
$terciary-color: #0dadbd;

// Global Styles
$margin-global: 0;
$padding-global: 0;
$font-global: 'Roboto Mono', monospace;

// Links and Lists Style
$link-decoration-global: none;
$link-color-global: black;
$list-global: none;

// Container Style
$display-container: flex;
$direction-container: row;
$width-container: 100%;
$height-container:100vh;

* {
  margin: $margin-global;
  padding: $padding-global;
  font-family: $font-global;
}

body {
  background: $secundary-color;
}

a {
  text-decoration: $link-decoration-global;
  color: $link-color-global;
}

ul {
  list-style: $list-global;
}

.container {
  display: $display-container;
  flex-direction: $direction-container;
  width: $width-container;
  height: $height-container;
}
