@font-face {
  font-family: "Mont";
  src: url("../../fonts/Montserrat-Regular.otf");
}

body {
  /* background-image: url(../../img/singapore-skyscrapers-marina-bay-sands-evening-4k-es.jpg); */
  background-color: rgb(221, 218, 218);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  font-size: 1.5em;
}


/* CLASSES */
.botaosair {
  width: 37px;
  float: right;
  filter: invert(100%);
  
  
}
.divp{
  background-color: #7623FF;
  
  
 
  
  
  
}
.logo {
 
  padding-left:22%;
  cursor: pointer;
  min-width: flex;
 
  
  
}

.cursorClick:hover{
  cursor: pointer;
  color: red;
}

/* Area de Funcionarios */
.matricula{
  padding-left: 3px;
}
table {
  width: 80%;
  margin-left: 11%;
  margin-top: 5vh;
  text-align: center;
  
 
}

table td,
table th {
  padding: 1%;
  /* border-radius: 12px 12px 12px 12px; */
}

/* navega */
.home{

float:right;
margin-top: 3%;
margin-right: 50rem;
display: flex;




 
}
.home a{ 
  color: rgb(255, 255, 255);
  padding-right: 40px; 
  text-decoration: none;
  padding-left: 10%;
  
}
.home a:hover{
  color: red;
}



/* COR DAS TABELAS */
table tr:nth-child(even) {
  background-color: #ffffff00;
}
table tr:nth-of-type(1) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
table tr:nth-of-type(3) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
table tr:nth-of-type(5) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
table tr:nth-of-type(7) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
table tr:nth-of-type(9) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
table tr:nth-of-type(11) {
  background-color: #7623FF;
  border-radius: 12px 12px 12px 12px;
}
